
<!DOCTYPE html>

<html>
<head>
    <link type="text/css" rel="stylesheet" href="/static/styles.css" />
</head>
<body>
  
    <h1>{{ user.nickname() }}</h1>
    <div id="ledgers">
        <h2>Your ledgers</h2>
        <ul>
        {% for ledger in ledgers %}
            <li><a href="/ledger/{{ ledger.title | replace(' ', '-') }}">{{ ledger.title | escape }}</a></li>
        {% endfor %}
        </ul>
    </div>
    
    <a href="/ledger/add">Create new ledger</a>
    
    {% if not invites | length is sameas 0 %}
    <div id="invites">
        <h2>Pending ledger invites</h2>
        <ul>
        {% for invite in invites %}
            {% set link = invite.title | replace(' ', '-') %}
            <li>{{ invite.title | escape }}<a href="/profile/{{ link }}/accepted">accept</a> <a href="/profile/{{ link }}/declined">decline</a></li>
        {% endfor %}
        </ul>
    </div>
    {% endif %}
    

</body>
</html>
