
<!DOCTYPE html>

<html>
<head>
    <link type="text/css" rel="stylesheet" href="/static/styles.css" />
</head>
<body>
  
    <h1>{{ profile.nickname }}</h1>
    Change name:
    <form action="/profile/edit" method="post">
        <input type="text" name="nickname" />
        <input type="submit" value="accept" />
    </form>
    <div id="ledgers">
        <h2>Your ledgers</h2>
        <ul>
        {% for ledger in ledgers %}
            <li><a href="/ledger/{{ ledger.title | replace(' ', '-') }}">{{ ledger.title | escape }}</a></li>
        {% endfor %}
        </ul>
    </div>
    
    <a href="/ledger/add">Create new ledger</a>
    
    {% if not invite_ledgers | length is sameas 0 %}
    <div id="invites">
        <h2>Pending ledger invites</h2>
        <ul>
        {% for invite_ledger in invite_ledgers %}
            <li>{{ invite_ledger.title | escape }}
                <form action="/profile/edit" method="post">
                    <input type="hidden" name="accepted" value="True" />
                    <input type="hidden" name="title" value="{{ invite_ledger.title }}" />
                    <input type="submit" value="accept" />
                </form>
                <form action="/profile/edit" method="post">
                    <input type="hidden" name="accepted" value="" />
                    <input type="hidden" name="title" value="{{ invite_ledger.title }}" />
                    <input type="submit" value="declne" />
                </form>
            </li>
        {% endfor %}
        </ul>
    </div>
    {% endif %}
    
</body>
</html>
