
{% extends "forms.html" %}
{% block body %}
    <div class="container">
        <div class="well">
            <form class="form-horizontal" action="/ledger/add/submit" method="post">
                <fieldset>
                    <legend>Enter information for your new ledger</legend>
                    <div class="control-group">
                        <label class="control-label" for="input_title">Ledger Title</label>
                        <div class="controls">
                            <input type="text" class="input-xlarge" id="input_title" name="title" required />
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="input_user_01">Invite a user</label>
                        <div class="controls">
                            <input type="text" class="input-xlarge" id="input_user_01" name="invites" placeholder="optional" />
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="input_user_02">Invite another user</label>
                        <div class="controls">
                            <input type="text" class="input-xlarge" id="input_user_02" name="invites" placeholder="optional">
                            <p class="help-block">You can invite more users on the next page</p>
                        </div>
                    </div>
                    {% if error_text %}
                        <div style="color: red">
                            {{ error_text }}
                        </div>
                    {% endif %}
                    <div class="form-actions">
                        <button type="submit" class="btn btn-primary">Save changes</button>
                        <a class="btn" href="/profile">Cancel</a>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
{% endblock %} 
