
{% extends "base.html" %}
{% block body %}
    <h1>{{ profile.nickname }}</h1>
    <form class="well form-inline" action="/profile/edit" method="post">
        <input type="text" class="input" placeholder="Change nickname" name="nickname" />
        <button type="submit" class="btn">Change</button>
    </form>
    
    <div class="well">
        <h2>Your ledgers</h2>
        <ul>
        {% for ledger in ledgers %}
            <li><a href="/ledger/{{ ledger.title | replace(' ', '-') }}">{{ ledger.title | escape }}</a></li>
        {% endfor %}
        </ul>
        <a class="btn btn-primary btn-large" href="/ledger/add">Create new ledger</a>
    </div>
    
    
    {% if not invite_ledgers | length is sameas 0 %}
    <div class="well">
        <h2>Pending ledger invites</h2>
        <ul>
        {% for invite_ledger in invite_ledgers %}
            <li>{{ invite_ledger.title | escape }}
                <form action="/profile/edit" method="post">
                    <input type="hidden" name="accepted" value="True" />
                    <input type="hidden" name="title" value="{{ invite_ledger.title }}" />
                    <input type="submit" value="accept" />
                </form>
                <form action="/profile/edit" method="post">
                    <input type="hidden" name="accepted" value="" />
                    <input type="hidden" name="title" value="{{ invite_ledger.title }}" />
                    <input type="submit" value="declne" />
                </form>
            </li>
        {% endfor %}
        </ul>
    </div>
    {% endif %}
    
{% endblock %}
