
{% extends "base.html" %}
{% block body %}
    <h1>{{ profile.nickname }}</h1>
    <form class="well form-inline" action="/profile/edit" method="post">
        <input type="text" class="input" placeholder="Change nickname" name="nickname" />
        <button type="submit" class="btn">Change</button>
    </form>
    
    <div class="well">
        <h2>Your ledgers</h2>
        <ul>
        {% for ledger in ledgers %}
            <li><a href="/ledger/{{ ledger.title | replace(' ', '-') }}">{{ ledger.title | escape }}</a></li>
        {% endfor %}
        </ul>
        <a class="btn btn-primary" href="/ledger/add">Create new ledger</a>
    </div>
    
    
    {% if not invite_ledgers | length is sameas 0 %}
    <div class="well">
        <h2>Pending ledger invites</h2>
        <ul>
        {% for invite_ledger in invite_ledgers %}
            <li>
                <form class="form-inline" action="/profile/edit" method="post">
                    <label>{{ invite_ledger.title | escape }}</label>
                    <input type="hidden" name="title" value="{{ invite_ledger.title }}" />
                    <input class="btn" type="submit" value="accept" name="accept" />
                    <input class="btn" type="submit" value="decline" name="decline" />
                </form>
            </li>
        {% endfor %}
        </ul>
        
            
    </div>
    {% endif %}
    {% if error_text %}
        <div class="error-text">{{ error_text }}</div>
    {% endif %}
{% endblock %}
